{% extends "base.html" %}


{% block jumbotron %}
<div class="row row-centered">
  <div class="col-lg-6 col-centered main_content">
    <h1>About</h1>
    <p>This site was built by Democracy Club in partnership with London First.</p>

    <p>The data comes from the number of registered voters in each London Borough compared against ward-level ONS population data.</p>

    <p>The base images for the graphics come from geograph.co.uk.</p>

    <p>Spotted a problem? Questions? Contact <a href="https://twitter.com/democlub">@democlub on twitter</a>.</p>

    <p>Democracy Club is a non-partisan, not-for-profit community interest
    company dedicated to using technology to make democracy work better for
    everyone. Our vision is of a society in which democracy thrives through
    knowledge, participation and openness.</p>

    <p>This can only happen if people’s
    experience of democracy reflects their expectations of 21st century
    interaction.</p> <p>To find out more about what Democracy Club is trying
    to achieve, read <a href="https://democracyclub.org.uk/blog/2016/05/06/whats-next/">this blog
        post</a>.</p>

    <p>London First is a not-for-profit organisation, entirely funded by its
    members. Our agenda is developed independent of party political motives or
    affiliations. London First’s mission is to make London the best city in
    the world to do business.</p>

    <p>London First aims to influence national and
    local government policies and investment decisions to support London’s
    global competitiveness. Visit <a href="http://londonfirst.co.uk/">London First’s website</a>
     to learn more.</p>
   </div>
 </div>

{% endblock jumbotron %}
