{% extends "base.html" %}

{% load bootstrap3 %}
{% load humanize %}

{% block content %}
{% endblock content %}


{% block jumbotron %}
<div class="jumbotron">
  <h1 class="page-header">How many people are registered to vote in your area?</h1>

  <form class="form-inline" method="post">
    {% csrf_token %}
    {{ form.errors.postcode }}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form layout='inline' %}
    <button type="submit" class="btn btn-primary">Find out</button>
  </form>

  <p></p>
  <div class="alert alert-success">
    <a href="/map/" style="text-decoration:underline">
      New! Explore a detailed map of your area!</a>
  </div>



</div>

{% endblock  %}
