{% extends "base.html" %}

{% load bootstrap3 %}
{% load humanize %}



{% block jumbotron %}
<div class="jumbotron">
  <h1 class="page-header">{{ area_info.borough.name }}</h1>
  <h2>Your area: {{ area_info.ward.name }}</h2>
  {# <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> #}

  <div class="row bignumbers">
    <div class="col-lg-4">
      <h4 class="bignumber">{{ area_info.ward.population_voting_age|intcomma }}</h4>
      <p>people of voter-age in your area…</p>
    </div>
    <div class="col-lg-4">
      <h4 class="bignumber">{{ area_info.ward.population_young|intcomma }}</h4>
      <p>…are 18-25…</p>
    </div>

    <div class="col-lg-4">
      <h4 class="bignumber">{{ area_info.ward.percent_registered }}%</h4>
      <p>…are registered to vote.</p>
    </div>
  </div>
  <div class="row bignumbers">
    <div class="col-lg-12">
      <h4 class="bignumber smallernumber">This means {{ area_info.ward.unregistered|intcomma }}  could still be unregistered.</h4>
    </div>
  </div>
</div>


{% endblock  %}


{% block content %}
  <div class="row">
    <h1>What you can do</h1>
    <div class="col-lg-6">
      <h2>Not registered yet?</h2>
      <h3>If you aren’t already on the electoral register, you must register by 7 June if you want to vote in the EU referendum on 23 June.</h3>
      <p><a href="https://gov.uk/register-to-vote" class="btn btn-success">Register now!</a></p>
    </div>
    <div class="col-lg-6">
      <h2>Already registered?</h2>
      <h3>Don’t let anyone be left out: spread the word about registration now!</h3>
      <a href="https://www.facebook.com/sharer.php?u=http://takepart.london/{{ request.path }}&title={{ area_info.ward.percent_registered }} percent of people near me are registered to vote">
        <i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a>
      <a href="https://twitter.com/intent/tweet?url=http://takepart.london/{{ request.path }}&text={{ area_info.ward.percent_registered }} percent of people near me are registered to vote&hashtags=generationvote,EUref,TurnUp">
        <i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>
      <p>We need as many people as possible to encourage others to register to vote!</p>
    </div>
  </div>


{# <h2>Area data</h2> #}
{# <table class="table"> #}
{#   <thead> #}
{#     <th>Ward</th> #}
{#     <th>Population</th> #}
{#     <th>Voting age</th> #}
{#     <th>18-25s</th> #}
{#     <th>Percent registered</th> #}
{#   </thead> #}
{#   <tbody> #}
{#     {% for ward in area_info.borough.ward_set.all %} #}
{#       <tr> #}
{#         <td>{{ ward.name }}</td> #}
{#         <td>{{ ward.population|intcomma }}</td> #}
{#         <td>{{ ward.population_voting_age|intcomma }}</td> #}
{#         <td>{{ ward.population_young|intcomma }}</td> #}
{#         <td>{{ ward.percent_registered|intcomma }}%</td> #}
{#       </tr> #}
{#     {% endfor %} #}
{#   </tbody> #}
{# </table> #}



{% endblock content %}
